<div class="row">
  <div class="col-xs-12">
    <ol class="breadcrumb pull-right">
      <li><a href="#/patients">Our Patients</a></li>
      <li class="active">Patient summary</li>
    </ol>
  </div>
</div>
<div class="row">
  <div class="col-lg-4 col-sm-4 text-center box-patient">
    <img class="img-circle img-responsive img-center img-patients" ng-src="{{::patSumCtrl.getPatientImage(patSumCtrl.patient)}}" alt="patient image">
    <h3>{{ patSumCtrl.patient.name }}
      <small>{{ patSumCtrl.patient.birthDate | date }} </small>
    </h3>
    <p>
      Height: {{ patSumCtrl.patient.heightCm }} cm - Weight: {{ patSumCtrl.patient.weightKg }} kg - B.M.I.: {{ patSumCtrl.patient.bmi }}
    </p>
    <div class="panel panel-default text-left">
      <!-- Default panel contents -->
      <div class="panel-heading">Activity Definition</div>
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Activity</th>
            <th>Intensity</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in patSumCtrl.definitionActivity">
            <th scope="row">{{$index + 1}}</th>
            <td>{{item.activity}}</td>
            <td>{{item.intensity}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-lg-8 col-sm-8">
    <div class="row">
      <div class="col-sm-6">
        <div id="chartDonut"></div>
      </div>
      <div class="col-sm-6">
        <div id="chartLine"></div>
      </div>
      <div class="col-sm-12">
        <div id="chartBar"></div>
      </div>
    </div>
  </div>
</div>
